# TTP Assignment 10
### Pandas Series

<h4 style="color:blue">Question #1 – Create and Print a Simple Pandas Series</h4> Create a Series <b>S1</b> using:<br> <code>S1 = pd.Series([15, 30, 45, 60, 75])</code><br><br> Print:<br> • The Series<br> • The index<br> • The values<br>

In [1]:
import pandas as pd

S1 = pd.Series([15, 30, 45, 60, 75])
print("Series:\n",S1)
print("Index:\n", S1.index)
print("Values:\n", S1.values)

Series:
 0    15
1    30
2    45
3    60
4    75
dtype: int64
Index:
 RangeIndex(start=0, stop=5, step=1)
Values:
 [15 30 45 60 75]

<h4 style="color:blue">Question #2 – Series with Mixed Data Types</h4> Create a Series <b>S2</b> using:<br> <code>S2 = pd.Series([3.14, 'Data', True, 99])</code><br><br> Print:<br> • The Series<br> • The data type using <code>S2.dtype</code><br>

In [3]:
S2 = pd.Series([3.14, 'Data', True, 99])

print("Series\n", S2)
print("Data type:", S2.dtype)

Series
 0    3.14
1    Data
2    True
3      99
dtype: object
Data type: object

<h4 style="color:blue">Question #3 – Series with Custom Index</h4> Create a Series of five countries and their currencies:<br> <code> pd.Series(['Dollar','Euro','Yen','Rupee','Pound'],<br> &nbsp;&nbsp;&nbsp;&nbsp;index=['USA','Germany','Japan','India','UK']) </code><br><br> Print the full Series.<br>

In [4]:
S3 = pd.Series(['Dollar','Euro','Yen','Rupee','Pound'],
     index=['USA','Germany','Japan','India','UK'])
print(S3)

USA        Dollar
Germany      Euro
Japan         Yen
India       Rupee
UK          Pound
dtype: object

<h4 style="color:blue">Question #4 – Create Fruit Price Series</h4> Create a Series <b>F1</b> using fruit names as index and prices as values:<br> <code> fruits = ['Apple','Banana','Orange','Grapes']<br> F1 = pd.Series([120, 40, 60, 150], index=fruits) </code><br><br> Print:<br> • The Series<br> • The price of <b>Orange</b><br>

In [5]:
fruits = ['Apple','Banana','Orange','Grapes']
F1 = pd.Series([120, 40, 60, 150], index=fruits)
print("Series:\n", F1)
print("Price of Orange:", F1['Orange'])

Series:
 Apple     120
Banana     40
Orange     60
Grapes    150
dtype: int64
Price of Orange: 60

<h4 style="color:blue">Question #5 – Add Two Series with Same Index</h4> Create two Series representing student marks:<br> <code> T1 = pd.Series([80, 75, 90, 65])<br> T2 = pd.Series([70, 85, 95, 60]) </code><br><br> Print:<br> • The total marks using <code>T1 + T2</code><br>

In [8]:
T1 = pd.Series([80, 75, 90, 65])
T2 = pd.Series([70, 85, 95, 60]) 

print("Total Marks:\n", T1 + T2)

Total Marks:
 0    150
1    160
2    185
3    125
dtype: int64

<h4 style="color:blue">Question #6 – Add Series with Mismatched Index</h4> Create:<br> <code> S1 = pd.Series([4000, 4500, 5000, 5500], index=['Jan','Feb','Mar','Apr'])<br> S2 = pd.Series([4200, 4800, 5100], index=['Feb','Mar','Apr']) </code><br><br> Add them and print:<br> • The result<br> • Missing values using <code>(S1 + S2).isnull()</code><br>

In [9]:
S1 = pd.Series([4000, 4500, 5000, 5500], index=['Jan','Feb','Mar','Apr'])
S2 = pd.Series([4200, 4800, 5100], index=['Feb','Mar','Apr']) 

result = S1 + S2

print("Result:\n", result)
print("Missing Values:\n", result.isnull())

Result:
 Apr    10600.0
Feb     8700.0
Jan        NaN
Mar     9800.0
dtype: float64
Missing Values:
 Apr    False
Feb    False
Jan     True
Mar    False
dtype: bool

<h4 style="color:blue">Question #7 – Drop Missing Values</h4> Using the result of <code>S1 + S2</code> from Question 6, print:<br> • The cleaned Series using <code>.dropna()</code><br>

In [10]:
cleaned = result.dropna()
print(cleaned)

Apr    10600.0
Feb     8700.0
Mar     9800.0
dtype: float64

<h4 style="color:blue">Question #8 – Replace Missing Values</h4> Using the same result from Question 6, replace missing values with <b>0</b>:<br> <code>(S1 + S2).fillna(0)</code><br>

In [11]:
filled = result.fillna(0)
print(filled)

Apr    10600.0
Feb     8700.0
Jan        0.0
Mar     9800.0
dtype: float64

<h4 style="color:blue">Question #9 – Apply NumPy Functions on a Series</h4> Create a Series <b>temp</b> representing temperatures:<br> <code>temp = pd.Series([25, 28, 30, 32, 35])</code><br><br> Apply and print:<br> • <code>np.sqrt(temp)</code><br> • <code>np.log(temp)</code><br>

In [13]:
import numpy as np

temp = pd.Series([25, 28, 30, 32, 35])

print("Square root\n",np.sqrt(temp))
print("Log values\n",np.log(temp))

Square root
 0    5.000000
1    5.291503
2    5.477226
3    5.656854
4    5.916080
dtype: float64
Log values
 0    3.218876
1    3.332205
2    3.401197
3    3.465736
4    3.555348
dtype: float64

<h4 style="color:blue">Question #10 – Create Series from a Dictionary</h4> Given the dictionary:<br> <code> cars = {'Hyundai':900000, 'Maruti':700000, 'Honda':1100000, 'Tata':850000} </code><br><br> Create a Series <b>C</b> and print:<br> • The entire Series<br> • The price of <b>Honda</b><br> • Prices of <b>Maruti</b> and <b>Tata</b> using list indexing<br>

In [14]:
cars = {'Hyundai':900000, 'Maruti':700000, 'Honda':1100000, 'Tata':850000} 

C = pd.Series(cars)

print("Series:\n", C)
print("Price of Honda:\n", C['Honda'])
print("Price of Maruti and Tata:\n",C [['Maruti', 'Tata']])

Series:
 Hyundai     900000
Maruti      700000
Honda      1100000
Tata        850000
dtype: int64
Price of Honda:
 1100000
Price of Maruti and Tata:
 Maruti    700000
Tata      850000
dtype: int64