# TTP Assignment 11
### Pandas DataFrame

<h4 style="color:blue">Question #1 – Create a DataFrame from a Dictionary</h4> Create a DataFrame named <b>df</b> using the dictionary:<br> <code> { "A": [1, 2, 3], "B": [4, 5, 6] } </code><br> Set the index manually to:<br> <code>["row1", "row2", "row3"]</code><br><br> Print the full DataFrame.

In [1]:
import pandas as pd 

df = pd.DataFrame(
    { "A": [1, 2, 3], "B": [4, 5, 6] },
    index=["row1", "row2", "row3"]
)

print(df)

      A  B
row1  1  4
row2  2  5
row3  3  6

<h4 style="color:blue">Question #2 – Create a Portfolio DataFrame</h4> Create a DataFrame called <b>portfolio_df</b> from the dictionary:<br> <code> { "stock": ["A", "B", "C"], "qty": [50, 20, 80], "avg_price": ["₹100", "₹250", "₹400"] } </code><br><br> Then change the index to:<br> <code>["s1", "s2", "s3"]</code><br><br> Display the DataFrame.

In [2]:
portfolio_df = pd.DataFrame(
    {
    "stock": ["A", "B", "C"],
    "qty": [50, 20, 80], 
    "avg_price": ["₹100", "₹250", "₹400"]
    },
    index = ["s1", "s2", "s3"]
   
)
print(portfolio_df)

   stock  qty avg_price
s1     A   50      ₹100
s2     B   20      ₹250
s3     C   80      ₹400

<h4 style="color:blue">Question #3 – Rearranging Columns</h4> Using the DataFrame created in Question 2:<br> Reorder columns to the sequence:<br> <code>["avg_price", "qty", "stock"]</code><br><br> Print the updated DataFrame.

In [4]:
portfolio_df = portfolio_df[["avg_price", "qty", "stock"]]
print(portfolio_df)

   avg_price  qty stock
s1      ₹100   50     A
s2      ₹250   20     B
s3      ₹400   80     C

<h4 style="color:blue">Question #4 – Selecting a Column</h4> Using the modified <b>portfolio_df</b>, print only the column:<br> <code>"qty"</code><br>

In [5]:
print(portfolio_df["qty"])

s1    50
s2    20
s3    80
Name: qty, dtype: int64

<h4 style="color:blue">Question #5 – Download OHLCV Data and Rename Columns</h4> Download historical data for any stock using:<br> <code>yf.download("INFY.NS", start="2015-01-01", end="2024-12-31")</code><br><br> Rename the columns to:<br> <code>["close", "high", "low", "open", "volume"]</code><br> Rearrange them to:<br> <code>["open", "high", "low", "close", "volume"]</code><br><br> Show the first 5 rows.

In [27]:
import yfinance as yf

df_INFY = yf.download("INFY.NS", start="2015-01-01", end="2024-12-31")
print(df_INFY.head())

C:\Users\Kedar\AppData\Local\Temp\ipykernel_26084\3864344414.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_INFY = yf.download("INFY.NS", start="2015-01-01", end="2024-12-31")
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open   Volume
Ticker         INFY.NS     INFY.NS     INFY.NS     INFY.NS  INFY.NS
Date
2015-01-01  367.770782  369.186427  364.511064  366.755599  2002764
2015-01-02  374.998077  376.087773  367.323776  367.323776  6778320
2015-01-05  371.775665  378.127457  368.348299  374.383441  9937024
2015-01-06  364.008209  369.745325  360.264193  368.813976  9667316
2015-01-07  365.749786  367.835997  363.225823  366.019868  7249916

In [30]:
df_INFY.columns = ['close', 'high', 'low', 'open', 'volume']

df_INFY =df_INFY[["open", "high", "low", "close", "volume"]]

print(df_INFY.head())

                  open        high         low       close   volume
Date
2015-01-01  366.755599  369.186427  364.511064  367.770782  2002764
2015-01-02  367.323776  376.087773  367.323776  374.998077  6778320
2015-01-05  374.383441  378.127457  368.348299  371.775665  9937024
2015-01-06  368.813976  369.745325  360.264193  364.008209  9667316
2015-01-07  366.019868  367.835997  363.225823  365.749786  7249916

<h4 style="color:blue">Question #6 – Dropping Columns and Rounding Values</h4> Using the OHLCV DataFrame:<br> Drop the columns <code>"high"</code>, <code>"low"</code>, and <code>"open"</code>.<br> Round the DataFrame values to 2 decimals using <code>np.round()</code>.<br><br> Print the first 4 rows.

In [33]:
import numpy as np

df2 = df_INFY.drop(columns=["high", "low", "open"])
df2 = df2.round(2)

print(df2.head(4))

             close   volume
Date
2015-01-01  367.77  2002764
2015-01-02  375.00  6778320
2015-01-05  371.78  9937024
2015-01-06  364.01  9667316

<h4 style="color:blue">Question #7 – Dropping Multiple Rows</h4> Drop the first 3 rows of the rounded DataFrame using:<br> <code>df.drop(df.index[[0,1,2]])</code><br><br> Print the output.

In [34]:
df3 = df2.drop(df2.index[[0,1,2]])
print(df3)

              close    volume
Date
2015-01-06   364.01   9667316
2015-01-07   365.75   7249916
2015-01-08   367.59  13564920
2015-01-09   386.41  44863328
2015-01-12   394.14  12758888
...             ...       ...
2024-12-23  1868.99   2781793
2024-12-24  1854.18   2360544
2024-12-26  1852.57   3623321
2024-12-27  1861.66   3937500
2024-12-30  1851.21   7789055

[2463 rows x 2 columns]

<h4 style="color:blue">Question #8 – Renaming Columns</h4> Rename the columns:<br> <code> {"close" : "Close Price", "volume" : "Total Volume"} </code><br><br> Print the last 5 rows.

In [35]:
df4 = df3.rename(columns={
    "close" : "Close Price",
    "volume" : "Total Volume"
})
print(df4.tail())

            Close Price  Total Volume
Date
2024-12-23      1868.99       2781793
2024-12-24      1854.18       2360544
2024-12-26      1852.57       3623321
2024-12-27      1861.66       3937500
2024-12-30      1851.21       7789055

<h4 style="color:blue">Question #9 – Sorting a DataFrame</h4> Sort the DataFrame by the column <b>"Close Price"</b> in descending order.<br> Print the top 15 values.

In [36]:
sorted_df = df4.sort_values("Close Price", ascending = False)
print(sorted_df.head(15))

            Close Price  Total Volume
Date
2024-12-13      1942.22       5362693
2024-12-12      1929.89       6462130
2024-12-16      1923.14       3119221
2024-12-18      1922.26       3064095
2024-12-17      1919.79       5811050
2024-12-11      1917.41       5025612
2024-12-10      1892.54       6174921
2024-12-19      1890.26       5323592
2024-10-17      1890.01       8162822
2024-09-02      1886.55       5573739
2024-10-15      1881.56       5353705
2024-10-14      1881.17       3751378
2024-12-05      1879.24       9050038
2024-10-09      1875.27       4857163
2024-09-17      1875.08       2793127

<h4 style="color:blue">Question #10 – Process Intraday Data</h4> Download 5-minute data using:<br> <code>df_intra = yf.download("^NSEI", interval="5m")</code><br><br> Perform the steps:<br> 1. Rename columns to OHLCV order<br> 2. Drop the <code>"volume"</code> column<br> 3. Convert index to datetime:<br> &nbsp;&nbsp;<code>df.index = pd.to_datetime(df.index)</code><br> 4. Remove timezone:<br> &nbsp;&nbsp;<code>df.index = df.index.tz_localize(None)</code><br> 5. Format index to: <br> &nbsp;&nbsp;<code>"%Y-%m-%d %I:%M:%S"</code><br><br> Print the first 5 rows.

In [39]:
df_intra = yf.download("^NSEI", interval="5m")
print(df_intra.head())

C:\Users\Kedar\AppData\Local\Temp\ipykernel_26084\3563804825.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_intra = yf.download("^NSEI", interval="5m")
[*********************100%***********************]  1 of 1 completed

Price                             Close          High           Low  \
Ticker                            ^NSEI         ^NSEI         ^NSEI
Datetime
2025-11-11 09:15:00+00:00  25667.349609  25673.050781  25660.750000
2025-11-11 09:20:00+00:00  25681.599609  25693.199219  25666.800781
2025-11-11 09:25:00+00:00  25676.550781  25683.449219  25670.750000
2025-11-11 09:30:00+00:00  25693.849609  25702.150391  25677.949219
2025-11-11 09:35:00+00:00  25681.349609  25700.650391  25676.500000

Price                              Open Volume
Ticker                            ^NSEI  ^NSEI
Datetime
2025-11-11 09:15:00+00:00  25662.849609      0
2025-11-11 09:20:00+00:00  25667.800781      0
2025-11-11 09:25:00+00:00  25680.800781      0
2025-11-11 09:30:00+00:00  25677.949219      0
2025-11-11 09:35:00+00:00  25692.849609      0

In [45]:
#Rename columns to OHLCV order
df_intra.columns =['close', 'high', 'low', 'open', 'volume'] 

df_intra = df_intra[["open", "high", "low", "close", "volume"]]

print(df_intra.head())

                                   open          high           low  \
Datetime
2025-11-11 09:15:00+00:00  25662.849609  25673.050781  25660.750000
2025-11-11 09:20:00+00:00  25667.800781  25693.199219  25666.800781
2025-11-11 09:25:00+00:00  25680.800781  25683.449219  25670.750000
2025-11-11 09:30:00+00:00  25677.949219  25702.150391  25677.949219
2025-11-11 09:35:00+00:00  25692.849609  25700.650391  25676.500000

                                  close  volume
Datetime
2025-11-11 09:15:00+00:00  25667.349609       0
2025-11-11 09:20:00+00:00  25681.599609       0
2025-11-11 09:25:00+00:00  25676.550781       0
2025-11-11 09:30:00+00:00  25693.849609       0
2025-11-11 09:35:00+00:00  25681.349609       0

In [47]:
# Drop the "volume" column
df_intra = df_intra.drop(columns= ["volume"])
print(df_intra.head())

                                   open          high           low  \
Datetime
2025-11-11 09:15:00+00:00  25662.849609  25673.050781  25660.750000
2025-11-11 09:20:00+00:00  25667.800781  25693.199219  25666.800781
2025-11-11 09:25:00+00:00  25680.800781  25683.449219  25670.750000
2025-11-11 09:30:00+00:00  25677.949219  25702.150391  25677.949219
2025-11-11 09:35:00+00:00  25692.849609  25700.650391  25676.500000

                                  close
Datetime
2025-11-11 09:15:00+00:00  25667.349609
2025-11-11 09:20:00+00:00  25681.599609
2025-11-11 09:25:00+00:00  25676.550781
2025-11-11 09:30:00+00:00  25693.849609
2025-11-11 09:35:00+00:00  25681.349609

In [50]:
#Convert index to datetime:
df_intra.index = pd.to_datetime(df_intra.index)
print(df_intra.head())

                                   open          high           low  \
Datetime
2025-11-11 09:15:00+00:00  25662.849609  25673.050781  25660.750000
2025-11-11 09:20:00+00:00  25667.800781  25693.199219  25666.800781
2025-11-11 09:25:00+00:00  25680.800781  25683.449219  25670.750000
2025-11-11 09:30:00+00:00  25677.949219  25702.150391  25677.949219
2025-11-11 09:35:00+00:00  25692.849609  25700.650391  25676.500000

                                  close
Datetime
2025-11-11 09:15:00+00:00  25667.349609
2025-11-11 09:20:00+00:00  25681.599609
2025-11-11 09:25:00+00:00  25676.550781
2025-11-11 09:30:00+00:00  25693.849609
2025-11-11 09:35:00+00:00  25681.349609

In [51]:
#Remove timezone:
df_intra.index = df_intra.index.tz_localize(None)
print(df_intra.head())

                             open          high           low         close
Datetime
2025-11-11 09:15:00  25662.849609  25673.050781  25660.750000  25667.349609
2025-11-11 09:20:00  25667.800781  25693.199219  25666.800781  25681.599609
2025-11-11 09:25:00  25680.800781  25683.449219  25670.750000  25676.550781
2025-11-11 09:30:00  25677.949219  25702.150391  25677.949219  25693.849609
2025-11-11 09:35:00  25692.849609  25700.650391  25676.500000  25681.349609

In [52]:
# Format index to:
df_intra.index = df_intra.index.strftime("%Y-%m-%d %I:%M:%S")

print(df_intra.head())

                             open          high           low         close
Datetime
2025-11-11 09:15:00  25662.849609  25673.050781  25660.750000  25667.349609
2025-11-11 09:20:00  25667.800781  25693.199219  25666.800781  25681.599609
2025-11-11 09:25:00  25680.800781  25683.449219  25670.750000  25676.550781
2025-11-11 09:30:00  25677.949219  25702.150391  25677.949219  25693.849609
2025-11-11 09:35:00  25692.849609  25700.650391  25676.500000  25681.349609