# TTP Assignment 3

<h3 style="color:blue">Question #1</h3>
A. Create a variable List_1 with the below data<br>
102.5, 104.2, 103.8, 105.6, 106.3, 107.1, 106.5, 108.4, 109.2, 110.0
<br>
B. print this list<br>
C. print the 2nd item which is 104.2<br>
D. Access the 1st item which is 102.5, do not print it<br>
E. Print the data type of List_1

<h3 style="color:blue">Question #2</h3>
A. Create a variable List_2 with the below data<br>
102.5, 45, Apple, 99.9, Banana, 150, 87.3, Grape, 200, Mango<br>
B. Print the statement - This is my list: ______________________

<h3 style="color:blue">Question #3</h3>
A. Add 5000 to the end of List_1<br>
B. print the updated list which is List_1<br>
C. Add 10000 to the of this updated list<br>
D. print the updated list

<h3 style="color:blue">Question #4</h3>
A. Add 7000, 9000, 20000 to the end of List_1<br>
B. print the updated list which is List_1<br>
Hint : should be added in 1 line of code

<h3 style="color:blue">Question #5</h3>
A. Create List_3 with the below data<br>
20.5, 4.2, 3.8, 105.6, 200.3, 107.1, 300.5, 400.4, 500.2, 600.0<br>
B. print this list<br>
C. print by accessing the Last item which is 600<br>
D. insert 1000 at the end of List_3<br>
E. print List_3<br>
F. insert 0 at the start of List_3

<h3 style="color:blue">Question #6</h3>
A. Remove 1000 from List_3<br>
B. print this list<br>
Hint: specify 1000 in your code

<h3 style="color:blue">Question #7</h3>
A. Remove the 1st element from List_3<br>
B. print this list<br>
Hint: specify the element position

<h3 style="color:blue">Question #8</h3>
A. Fetch the index position of 200.3<br>

<h3 style="color:blue">Question #9</h3>
A. Create List_4 with the below data<br>
 [100, 100, 100, 20, 30, 40, 50] <br>
B. print this list<br>
C. Fetch or return the number of times 100 appears on the List_4

<h3 style="color:blue">Question #10</h3>
A. Print List_3<br>
B. Reverse the items of this list<br>
C. Print List_3<br>
D. Now, sort the List_3 in ascending order<br>
E. Print the list