### Basic Keyboard Shortcuts in Jupyter Notebook

A Jupyter Notebook, at its core, is a collection of cells. The cell is simply the 'box' that we write in. We work with **two** types of cells: `Code` and `Markdown`. 

- We use the `Code` cell to write in a programming language like Python.
- We use the `Markdown` cell to write in a human language like English. *Markdown* is a computer language in itself. 

A Jupyter Notebook operates in two modes :-

#### Edit Mode

Here, you can type into any cell. You can enter this mode by pressing the *Enter* key or double-clicking the mouse when you hover over the cell.

- Run a cell and go to the next cell in Edit Mode: *Shift* + *Enter*
- Run a cell and stay in the same cell in Edit Mode: *Ctrl* + *Enter*


#### Command Mode

You can enter into it by pressing the *Esc* key. In Command mode, you can carry out commonly performed notebook and cell actions efficiently. 

- Navigation: Up and Down arrow keys to view different cells in the Notebook.
- Create a cell above the current one: *a*
- Create a cell below the current one: *b*
- Delete a cell: *d* (press twice) 
- Change cell type to Markdown: *m*
- Interrupt the kernel: *i* (press twice)
- Restart the kernel: *0* (press twice)
- Click h to open Keyboard shortcut menu help

### The `print()` method

Using the `print()` function gives us more control over the appearance of the output.
<br>Here are a few different ways in which you can use `print()`.

In [45]:
# The print() function displays text or variables on the screen.
print("Hello, World!")

Hello, World!

In [46]:
# You can print multiple items separated by commas
name = "Sam"
age = 44
print("My name is", name, "and I am", age, "years old.")

My name is Sam and I am 44 years old.

In [47]:
# sep defines how multiple items are separated
print("Apple","Banana","Cherry",sep=" | ")

# end defines what happens at the end of the line (default = '\n')
print("This will stay on", end=" ")
print("the same line!")

Apple | Banana | Cherry
This will stay on the same line!

In [48]:
print("This will stay on")
print("the same line!")

This will stay on
the same line!

In [49]:
# end defines what happens at the end of the line (default = '\n')
print("This will be")
print("on different line")
print("Another print")

This will be
on different line
Another print

In [50]:
# You can print expressions directly
x = 5
y = 3
print("Sum =", x + y)

Sum = 8

In [51]:
# f-strings allow easy formatting inside strings
name = "My class"
students = 50
print(f"{name} has {students} active learners.")

My class has 50 active learners.

In [52]:
# Triple quotes let you print multiple lines easily, just have to use print once
print("""Line 1
Line 2
Line 3
Line 4""")

Line 1
Line 2
Line 3
Line 4

In [53]:
# Use \n for newline, \t for tab
print("First Line\nSecond Line")

First Line
Second Line

In [54]:
print("Item\tPrice")
print("Apple\t₹100")

Item	Price
Apple	₹100

In [55]:
ticker = 'JUSTDIAL'
firm_name = 'Just Dial Ltd'
industry = 'Technology'
last_traded_price = 754.80
date_of_price_recorded = '6th Sep 2025'
market_cap = 64.19 * (10 ** 9) # The value is originally in billions, hence the multiplication to get the rupee value

In [56]:
outstanding_shares = market_cap / last_traded_price

In [57]:
print("The market capitalization of", firm_name, 'at the close of', date_of_price_recorded, "is Rs.", market_cap)

The market capitalization of Just Dial Ltd at the close of 6th Sep 2025 is Rs. 64190000000.0

### Now we will use f-strings or formatted string literals.
#### In an f-string, you should put all variables inside {} and avoid commas or quotes mixing mid-string.
####

In [58]:
print(f"The market capitalization of {ticker} at the close of {date_of_price_recorded} is Rs. {market_cap}")

The market capitalization of JUSTDIAL at the close of 6th Sep 2025 is Rs. 64190000000.0

In [59]:
ticker = 'INFY'
firm_name = 'Infosys Ltd'
industry = 'IT'
last_traded_price = 1466.50
date_of_price_recorded = '6th Sep 2025'
market_cap = 6.08 * (10 ** 12) # Value in rupees (6.08 trillion)

In [60]:
print(f"The market capitalization of {ticker} at the close of {date_of_price_recorded} is Rs. {market_cap}")

The market capitalization of INFY at the close of 6th Sep 2025 is Rs. 6080000000000.0

### In the .format() method, the numbers inside the curly braces { } — like {0}, {1}, {2}, {3} — are positional placeholders that refer to the order of the arguments inside .format().

In [61]:
# Example output with .format() method
print("{0} ({1}) has a market capitalization of ₹{2:,.0f} as on {3}."
      .format(firm_name, ticker, market_cap, date_of_price_recorded))

Infosys Ltd (INFY) has a market capitalization of ₹6,080,000,000,000 as on 6th Sep 2025.

### The :s format specifier explicitly tells Python: treat this value as a string.
But when .format() sees that the argument is already a string, it automatically uses string formatting by default — so :s is optional.

In [62]:
# Example output with .format() method
print("{0} ({1}) has a market capitalization of ₹{2:,.0f} as on {3}."
      .format(firm_name, ticker, market_cap, date_of_price_recorded))

Infosys Ltd (INFY) has a market capitalization of ₹6,080,000,000,000 as on 6th Sep 2025.

In [63]:
print("The market capitalization of {0:s} ({1:s}) on {3:s} is ₹{2:,.2f} billion."
      .format(ticker, firm_name, market_cap / 10 ** 9, date_of_price_recorded))

The market capitalization of INFY (Infosys Ltd) on 6th Sep 2025 is ₹6,080.00 billion.

**It is used inside a .format() string, and it controls how a number is displayed — especially its formatting, commas, and decimal places.**

### {2:,.0f}

| Part   | Meaning                                                                         |
| ------ | ------------------------------------------------------------------------------- |
| `2`    | Refers to the **third argument** in `.format()` (since counting starts from 0). |
| `:`    | Introduces the **format specification**.                                        |
| `,.0f` | The actual **formatting rule** (explained below).                               |
| Component | Meaning                                             | Example Output                                       |
| --------- | --------------------------------------------------- | ---------------------------------------------------- |
| `,`       | Add **thousand separators (commas)**                | `6080000000000 → 6,080,000,000,000`                  |
| `.0`      | Show **0 digits after the decimal point**           | `1466.50 → 1,467`                                    |
| `f`       | Keeps it as a numeric value, not scientific notation |

| Expression      | Meaning               | Result               |
| --------------- | --------------------- | -------------------- |
| `10 ** 12`       | 10 raised to 12 (convert trillion to Rs.)       | 1,000,000,000,000        |
| `x / (10 ** 9)` | divide x by 1 billion | converts to billions |
| `x / (10 ** 6)` | divide x by 1 million | converts to millions |

In [64]:
2 > 3

False

In [65]:
x = 40

In [66]:
print(type(40))

<class 'int'>

In [67]:
x = 50.50
print(type(x))

<class 'float'>

In [68]:
10 / 3

3.3333333333333335

In [69]:
10 // 3

3

In [70]:
10 % 3

1

In [71]:
20 // 6

3

In [72]:
20 / 6

3.3333333333333335