# TTP Assignment 1

<h3 style="color:blue">Question #1</h3>
Print the statement - Welcome to Trading Transformation Program, 2025

<h3 style="color:blue">Question #2</h3>
Create a variable x, assign the value 100 to it.
Then check its data type and print the value.

<h3 style="color:blue">Question #3</h3>
create 3 variables name, age, city - assign your own details<br>
print the statement calling the above variables<br>
My name is ___ and i am ___ years old. I live in ____

<h3 style="color:blue">Question #4</h3>
Create two variables x and y with values 500 and 300 respectively.<br>
Print their sum using a print statement that displays both text and the computed result together.

<h3 style="color:blue">Question #5</h3>
create 2 variables k and f with values 200.15 and 999.50 respectively<br>
print their ID's

<h3 style="color:blue">Question #6</h3>
You are given monthly sales figures as follows:  
jan_sales = 1200  
feb_sales = 950  
march_sales = 1100  
april_sales = 875  

Create a variable named **total_sales** that adds up all four months‚Äô sales.  
Then, print the statement:  
Total Sales = ___

<h3 style="color:blue">Question #7</h3>
Using aliases, import the libraries **pandas** and **numpy**.  
Then, print their version numbers.

üí° *Hint:* Use the standard aliases `pd` for pandas and `np` for numpy.

Example Output:  
pandas version : 2.2.2  
numpy version : 1.26.4

<h3 style="color:blue">Question #8</h3>
Create two variables `x = 100` and `y = 500`.  
Use **logical operators** to check whether `x` is greater than `y` or smaller than `y`.  
Print the result accordingly.

üí° *Hint:* Use comparison operators (`>`, `<`) or direct print expressions.

<h3 style="color:blue">Question #9</h3>
Create variables for a small business scenario as follows:  
`product_price = 750`  
`quantity_sold = 5`  
`total_expenses = 1800`  

1Ô∏è‚É£ Calculate **total_sales** by multiplying `product_price` with `quantity_sold`<br>  
2Ô∏è‚É£ Create a variable **profit** that stores the difference between `total_sales` and `total_expenses`. <br> 
3Ô∏è‚É£ Print both **total_sales** and **profit** with clear labels.

üí° Hint: Use multiple print statements

<h3 style="color:blue">Question #10</h3>
Execute the following two print statements and observe the difference in their results:

```python
print(10 + 5 * 2)
print((10 + 5) * 2)