# üß± Python Data Structures

### Data structures are different ways of storing and organizing data so that it can be used efficiently.
Python provides several built-in data structures that make it easy to handle different types of information.<br>
Each structure has its own features, strengths, and use cases - depending on whether you need to store ordered data, unique values, or key‚Äìvalue pairs.

## The 4 main data structures in Python are:

**List** ‚Äì an ordered, changeable collection of items. 

**Tuple** ‚Äì an ordered, unchangeable (immutable) collection.

**Set** ‚Äì an unordered collection of unique items.

**Dictionary** ‚Äì a collection of key‚Äìvalue pairs for quick lookups.

### Ordered: Items have a fixed position (index) and always appear in the same sequence when you access or print them.

### Mutable: You can change, add, or remove elements after the object is created.

### Allow Duplicates:The same value can appear more than once inside the collection.

## Lists [ ]

A list in Python is used to store multiple pieces of data in one place. Unlike some programming languages, Python lists can hold different types of values together ‚Äî numbers, strings, or even other lists.

Lists are mutable, which means you can change, add, or remove elements after creating them ‚Äî without creating a new list.

## Creating lists
List is enclosed by square brackets and elements should be separated by a comma.

In [1]:
new_list = []  # Empty List
type(new_list)

list

In [2]:
new_list = [100, 200, 300, 4000]  # A list of integers
type(new_list)

list

In [3]:
print(new_list)

[100, 200, 300, 4000]

In [4]:
new_list = [10, 20.2, "thirty", 40]  # A list of mixed data types
type(new_list)

list

In [5]:
print(new_list)

[10, 20.2, 'thirty', 40]

In [21]:
new_list = [[10, 20, 30], [10.1, 20.2, 30.3], ["ten", "twenty", "thirty"]] 
# 3 Lists nested inside another list

type(new_list)

list

In [7]:
print(new_list)

[[10, 20, 30], [10.1, 20.2, 30.3], ['ten', 'twenty', 'thirty']]

### Accessing The Lists Elements

In [154]:
new_list1 = [100, 200, 300, 4000]

In [155]:
new_list1[0]

100

In [12]:
new_list1[-1]

4000

In [16]:
new_list1[0:3]

[100, 200, 300]

In [22]:
print(new_list)

[[10, 20, 30], [10.1, 20.2, 30.3], ['ten', 'twenty', 'thirty']]

In [23]:
new_list[0]

[10, 20, 30]

In [24]:
new_list[1]

[10.1, 20.2, 30.3]

In [25]:
new_list[0][2]

30

In [26]:
new_list[2][2]

'thirty'

In [28]:
new_list[2][0]

'ten'

## Methods for list manipulation

In [29]:
my_list = [100, 200, 300, 400, 500]

In [30]:
print(my_list)

[100, 200, 300, 400, 500]

list.<b>append</b> (x) <br>
Add an item to the end of the list.

In [31]:
my_list.append(50)

print(my_list)

[100, 200, 300, 400, 500, 50]

list.<b>extend</b> (x) <br>
Extend the list by appending all the items at the end of the list.

In [32]:
my_list.extend([60, 70, 80, 90])

print(my_list)

[100, 200, 300, 400, 500, 50, 60, 70, 80, 90]

In [33]:
my_list.extend([60])

In [156]:
my_list

[5000, 1000, 500, 400, 300, 200, 90, 80, 70, 60, 50, 0]

list.<b>insert</b> (i,x) <br>
Insert an item at any given position within the list. The first argument 'i', is the index of the item before which you want to insert something. To insert something at the beginning of the list, you may type list.insert (0,x)

In [160]:
# Inserting an item in the beginning
my_list.insert(0, 0) 

print(my_list)

[0, 0, 5000, 1000, 500, 400, 300, 200, 90, 80, 70, 60, 50, 0]

In [36]:
my_list.insert(1, 5000)

print(my_list)

[0, 5000, 100, 200, 300, 400, 500, 50, 60, 70, 80, 90, 60]

In [37]:
# Inserting an item at the end 
my_list.insert(11, 1000)

print(my_list)

[0, 5000, 100, 200, 300, 400, 500, 50, 60, 70, 80, 1000, 90, 60]

In [38]:
# Inserting an item at the 6th position in a list
my_list.insert(6, 55)

print(my_list)

[0, 5000, 100, 200, 300, 400, 55, 500, 50, 60, 70, 80, 1000, 90, 60]

list.<b>remove</b> (x)<br>
Remove the first item from the list whose value is 'x'. It is an error if there is no such item.<br>
Use .remove() when you know the value

In [39]:
my_list.remove(100)

print(my_list)

[0, 5000, 200, 300, 400, 55, 500, 50, 60, 70, 80, 1000, 90, 60]

In [41]:
fruits = ["apple", "banana", "apple", "cherry", "apple"]
print(fruits)
fruits.remove("apple")
print(fruits)

['apple', 'banana', 'apple', 'cherry', 'apple']
['banana', 'apple', 'cherry', 'apple']

## If you want to remove all duplicates of "apple":
### We can use a simple Loop:

In [42]:
new_fruits = []
for f in fruits:
    if f != "apple":
        new_fruits.append(f)
print(new_fruits)

['banana', 'cherry']

list.<b>pop</b> (i) <br>
Remove any item from any given position (index) in the list. <BR>
Use .pop() when you know the index or need (this removes it permanently

In [43]:
print(my_list)

[0, 5000, 200, 300, 400, 55, 500, 50, 60, 70, 80, 1000, 90, 60]

In [46]:
my_list[5]

500

In [44]:
# Removes and returns the '5th' element from the list
my_list.pop(5)

55

In [45]:
print(my_list)

[0, 5000, 200, 300, 400, 500, 50, 60, 70, 80, 1000, 90, 60]

In [47]:
# Removes and returns the last element from the list
my_list.pop()

60

In [48]:
print(my_list)

[0, 5000, 200, 300, 400, 500, 50, 60, 70, 80, 1000, 90]

list.<b>index</b> (x) <br>
It returns a zero-based index in the list of the first item whose value is x. Raises an error of there is no such item as 'x'.

In [49]:
my_list.index(50)

6

In [ ]:
my_list.index(0)

list.<b>count</b> (x) <br>
Returns the number of times 'x' appears in the list

In [51]:
new_list = [100, 100, 100, 20, 30, 40, 50]
print(new_list)
new_list.count(100)

[100, 100, 100, 20, 30, 40, 50]

3

list.<b>reverse</b> () <br>
It reverses the items of the list.

In [52]:
print(my_list)

[0, 5000, 200, 300, 400, 500, 50, 60, 70, 80, 1000, 90]

In [53]:
my_list.reverse()

print(my_list)

[90, 1000, 80, 70, 60, 50, 500, 400, 300, 200, 5000, 0]

list.<b>sort</b> () <br>
It sorts the items in the list in acending order by default

In [54]:
my_list.sort()

In [55]:
print(my_list)

[0, 50, 60, 70, 80, 90, 200, 300, 400, 500, 1000, 5000]

In [56]:
#For descending order
my_list.sort(reverse=True)
print(my_list)

[5000, 1000, 500, 400, 300, 200, 90, 80, 70, 60, 50, 0]

# Dictionaries { }

A dictionary in Python is used to store data in pairs ‚Äî called key‚Äìvalue pairs.
Each key is unique and acts like a label that helps you quickly find its corresponding value.
Dictionaries are unordered, changeable (mutable), and written using curly braces { }

### A key in a dictionary is the unique identifier used to access a specific value

In [57]:
new_dict = {}  # Empty Dictionary

type(new_dict)

dict

In [60]:
student = {"name": "Amit", "age": 20, "course": "Python" }

print(student["name"])     # Access value using key

Amit

In [59]:
print(student)

{'name': 'Amit', 'age': 20, 'course': 'Python'}

In [61]:
student["age"] = 21        # Update a value
print(student)

{'name': 'Amit', 'age': 21, 'course': 'Python'}

In [62]:
student["grade"] = "A"     # Add a new key‚Äìvalue pair

In [63]:
print(student)

{'name': 'Amit', 'age': 21, 'course': 'Python', 'grade': 'A'}

## Dictionary manipulations

Let us have a look at the few functions for accessing or manipulating dictionaries.

<b>len (x_dict)</b> <br>
To know the number of key: value pairs in the dictionary.

In [64]:
len(student)

4

<b>x_dict.keys ( )</b> <br>
Returns all the 'keys' of dictionaries

In [65]:
student.keys()

dict_keys(['name', 'age', 'course', 'grade'])

<b>x_dict.values ( )</b> <br>
Returns all the 'values' of dictionaries

In [66]:
student.values()

dict_values(['Amit', 21, 'Python', 'A'])

The <b>del</b> statement <br>
It is used for deleting any keys from the dictionary.

In [67]:
del student['age']

print(student)

{'name': 'Amit', 'course': 'Python', 'grade': 'A'}

x_dict.<b>pop (key) </b> <br>
It will delete the 'value' corresponding to the required key.

In [68]:
student.pop('grade')

'A'

In [69]:
print(student)

{'name': 'Amit', 'course': 'Python'}

<b>sorted</b> (x_dict) <br>

The dictionary will get sorted by its values.

In [70]:
student_scores = {"Rahul": 85, "Amit": 92, "Neha": 78, "Sneha": 88}

# Sort dictionary by keys (names)
sorted_names = sorted(student_scores)

print(sorted_names)

['Amit', 'Neha', 'Rahul', 'Sneha']

If you want to sort by the values, you can do this:

In [71]:
sorted_by_value = sorted(student_scores, key=student_scores.get)
print(sorted_by_value) #Keys sorted by Values

['Neha', 'Rahul', 'Sneha', 'Amit']

In [73]:
# Sort by values (ascending) and print all key + value pairs

for name in sorted(student_scores, key=student_scores.get):
    print(name, ":", student_scores[name])

Neha : 78
Rahul : 85
Sneha : 88
Amit : 92

In [74]:
# Sort by values (ascending) and print all key + value pairs
for name in sorted(student_scores, key=student_scores.get, reverse=True):
    print(name, ":", student_scores[name])

Amit : 92
Sneha : 88
Rahul : 85
Neha : 78

x_dict.<b>clear</b> () <br>
Clears all the content of the dictionary

In [75]:
student_scores.clear()

print(new_dict)

{}

# Tuples ( )

Tuple is an immutable list. Similar to lists a tuple can contain a heterogeneous sequence of elements but it is not possible to append, edit or remove any individual elements within a tuple.

## How to create tuples
Tuples are enclosed in parenthesis and the items within them are separated by commas.<br>
***There are no methods supported by Tuples that can help us manipulate a tuple once created.***

In [76]:
my_tup = () #this is an empty tuple
type(my_tup)

tuple

In [77]:
my_tup = (5, 10, 300, 400)  # A tuple of integers
print(my_tup)

(5, 10, 300, 400)

In [78]:
type(my_tup)

tuple

In [79]:
my_tup = (1000, 75.8, 'gaurav', 400)  # A tuple of mixed data type
type(my_tup)

tuple

In [81]:
print(my_tup)

(1000, 75.8, 'gaurav', 400)

In [82]:
my_tup = ((2000, 3000, 400), (60.1, 70.2, 80.3),
           ("fifty", "sixty", "seventy"))  # Tuples can be nested
type(my_tup)

tuple

In [83]:
my_tup

((2000, 3000, 400), (60.1, 70.2, 80.3), ('fifty', 'sixty', 'seventy'))

In [85]:
my_tup = (2500, 3500, 4500, 5500, 6500)

In [86]:
print(my_tup)

(2500, 3500, 4500, 5500, 6500)

In [87]:
my_tup[0]

2500

In [88]:
my_tup[-1]

6500

### Access Tuples by its index position

In [90]:
t = ('a', 'b', 'c', 'd')
print(t)

('a', 'b', 'c', 'd')

In [91]:
print(t[2])       # Access by index ‚Üí 'c'

c

In [92]:
print(t[-1])      # Negative index ‚Üí 'd'

d

### Access Tuples Length

In [93]:
print(len(t))     # Length ‚Üí 4

4

### Tuple Slicing

In [97]:
t = (10, 20, 30, 40, 50)
print(t)

(10, 20, 30, 40, 50)

In [98]:
print(t[0:4])   # element 1 to 3, doesnt includes 4th element here

(10, 20, 30, 40)

In [99]:
print(t[:3])    # all till 3rd element

(10, 20, 30)

In [101]:
print(t[-1])

50

In [102]:
print(t[-3:])   # last 2 elements

(30, 40, 50)

In [103]:
print(t[-3])

30

# Sets

A set is an unordered collection with no duplicate elements. They are useful to create lists that hold only unique values and are also mutable. The elements of a set can be anything like numbers, strings or characters.

## How to create Sets
Curly braces or the set () function can be used to create sets and the items within them are separated by commas.

In [113]:
my_set = set() # this is an empty set
print(my_set)
type(my_set)

set()

set

In [114]:
# We can use the set() function to create sets
set_a = set('TEMPERATUREEEEE') #contains 11 words
print(type(set_a))
print(set_a) #only unique values will b

<class 'set'>
{'M', 'E', 'P', 'A', 'T', 'U', 'R'}

### set() function takes only one argument and not mulptiple strings

In [115]:
#my_set = set('Infosys', 'TCS', 'Reliance', 'Auropharma', 'Grasim')
#This will throw a TypeError

### Aternatively, we can use set() with a list

In [116]:
my_set = set(['Infosys', 'TCS', 'Reliance', 'Auropharma', 'Grasim'])

In [117]:
print(my_set)

{'Reliance', 'Infosys', 'Grasim', 'TCS', 'Auropharma'}

### Simplest, to use only Curly Braces

In [118]:
my_set2 = {'ABC', 'DFG', 'KJH', 'JHY'}

In [120]:
my_set2

{'ABC', 'DFG', 'JHY', 'KJH'}

### üîπ Key idea - Sets are not ordered
**Sets only care what elements are present, not the order in which they appear.<br>
So, there‚Äôs no concept of ‚Äúfirst‚Äù or ‚Äúlast‚Äù element in a set.**<br>
**Only Unique values are printed**

In [122]:
A = {10, 20, 30, 40}
B = {30, 10, 20}
print(A == B)   # Only contents are compared not positions

False

## Set operations

Mathematical operations like set union, set intersection, set difference can be performed

In [123]:
# Lets create 2 sets - set_1 and set_2

set_1 = set('LMKNOP')
set_2 = set('OPQRST')

print(set_1)
print(set_2)

{'M', 'K', 'O', 'P', 'N', 'L'}
{'O', 'P', 'T', 'S', 'Q', 'R'}

<b> x.union(y) </b> <br>
This method returns all the unique items that are present in the two sets, as a new set.

In [124]:
set_1.union(set_2)

{'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T'}

In [125]:
#Simpler alternate way of performing Union is by using the pipe '|' operator
set_1 | set_2

{'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T'}

<b> x.intersection(y) </b> <br>
This method returns the common items that are present in two sets, as a new set.

In [126]:
set_1.intersection(set_2)

{'O', 'P'}

In [127]:
#Simpler alternate way of performing Intersection is by using ampersand '&' operator
set_1 & set_2

{'O', 'P'}

<b> x.difference(y) </b> <br>
This method returns the items of 'set 1' which are not common to the 'set 2', as a new set.

In [128]:
print(set_1)
print(set_2)

{'M', 'K', 'O', 'P', 'N', 'L'}
{'O', 'P', 'T', 'S', 'Q', 'R'}

In [129]:
set_1.difference(set_2)

{'K', 'L', 'M', 'N'}

In [130]:
#Simpler alternate way of performing Difference is by using minus '-' operator
set_1 - set_2

{'K', 'L', 'M', 'N'}

<b> difference_update () </b> <br>
Removes all elements from the first set that are also present in the second set.<br>
It modifies the first set - no new set is created.

In [131]:
set_1.difference_update(set_2)
print(set_1)
print(set_2)

{'M', 'K', 'N', 'L'}
{'O', 'P', 'T', 'S', 'Q', 'R'}

<b>x.isdisjoint(y)</b> <br>
The method checks whether two sets have no elements in common.<br>
**Returns:**<br>
True ‚Üí if the sets have no common elements<br>
False ‚Üí if any element is shared between them

In [132]:
set_1.isdisjoint(set_2)

True

In [133]:
set_3 = set('ABCD')
set_4 = set('CDEF')
print(set_3)
print(set_4)

{'B', 'C', 'D', 'A'}
{'C', 'D', 'E', 'F'}

In [134]:
set_3.isdisjoint(set_4) #Here we have common elements

False

<b>y.issubset(x)</b> <br>
This method returns True for 'Set 2', if all the elements of 'Set 2' are present in 'Set 1'

### Easy way to remember:
**Subset ‚Üí smaller inside bigger**<br>
**Superset ‚Üí bigger contains smaller**

In [135]:
set_5 = set('ABCDEFG')
set_6 = set('EFG')
print(set_5)
print(set_6)

{'F', 'G', 'B', 'E', 'A', 'C', 'D'}
{'G', 'E', 'F'}

In [136]:
set_6.issubset(set_5)

True

**Because set_5 has extra elements (A, B, C, D) that are not present in set_6.
So, set_5 is not a subset of set_6.**

In [137]:
set_5.issubset(set_6)

False

<b>x.issuperset(y)</b><br>
This method returns True for 'Set 1' if all the elements of Set 2 are present in 'Set 1'.

In [138]:
#Lets first check if set_5 is a superset as we know it contains more elements
set_5 > set_6

True

In [139]:
set_6 > set_5

False

In [140]:
set_5.issuperset(set_6)

True

In [141]:
set_6.issuperset(set_5)

False

<b>x.add(e)</b> <br>
It adds a single item to the set and updates the set.

In [142]:
set_5

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [143]:
set_5.add('XYZ')

In [144]:
set_5

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'XYZ'}

<b>x.update(e)</b> <br>
It adds multiple items to the set and updates the set.

In [145]:
set_5.update(['X', 'Y', 'Z'])

In [146]:
set_5

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'X', 'XYZ', 'Y', 'Z'}

<b> x.discard(e)</b> <br>
It removes a single item from the set and updates it.

In [147]:
set_5.discard('XYZ')

In [148]:
set_5

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'X', 'Y', 'Z'}

<b> x.pop () </b> <br>
It pops and returns any arbitary item from the set. The original set permanently loses that element.

In [149]:
set_5.pop()

'F'

In [150]:
set_5

{'A', 'B', 'C', 'D', 'E', 'G', 'X', 'Y', 'Z'}

<b> x.clear() </b> <br>
It clears all the items of the set.

In [151]:
set_7 = set('THE')
print(set_7)

{'T', 'E', 'H'}

In [152]:
set_7.clear()

In [153]:
print(set_7) #Output will be an empty set

set()