# TTP Assignment 4

<h3 style="color:blue">Question #1</h3>
A. create a new empty dictionary, name it misc_dict<br>
B. check and print data type of misc_dict<br>

<h3 style="color:blue">Question #2</h3>
A. Update the misc_dict with the below data<br>
name - virat, sport - cricket, age - 39, category - batsman<br> 
B. check and print misc_dict<br>

<h3 style="color:blue">Question #3</h3>
A. Update misc_dict category with all-rounder<br>
B. print misc_dict<br>
C. create a new key-value pair and name it rating - A+
D. print misc_dict

<h3 style="color:blue">Question #4</h3>
A. check length of misc_dict<br>
B. Return all keys<br>
C. Return all values<br>
D. Delete rating
E. print misc_dict

<h3 style="color:blue">Question #5</h3>
A. create the new dictionary and name it misc_dict1 with below data<br>
Arjun: 47, Meera: 65, Kabir: 76, Isha: 89, Vikram: 95, Tara: 82, Nikhil: 88<br>
B. print misc_dict1<br>
C. create a variable sorted_names and sort by keys<br>
D. print the variable sorted_names, it should come in ascending order<br>

<h3 style="color:blue">Question #6</h3>
A. Now, create a variable sorted_scores and sort by values for misc_dict1<br>
B. print the variable sorted_scores, this will print names sorted by scores(in ascending order)<br>
C. clear all contents of misc_dict1<br>
D. print misc_dict1

<h3 style="color:blue">Question #7</h3>
A. create TUPLE ttp_tp with below data<br>
35, 65, 75, 85, 95, 105, 115<br>
B. check data type of ttp_tp<br>
C. print the length of ttp_tp

<h3 style="color:blue">Question #8</h3>
A. Access the 1st value in ttp_tp<br>
B. Access the last value<br>
C. Access 75<br>

<h3 style="color:blue">Question #9</h3>
A. Using Tuple Slicing, Access element 0 to 5 <br>
B. Access last 3 elements <br>
F. Access all elements till 3rd element <br>
G. Access all elements but not 35  <br>

<h3 style="color:blue">Question #10</h3>
A. Access all elements till 3rd element <br>
B. Access all elements but not 35  <br>