# TTP Assignment 5

<h3 style="color:blue">Question #1</h3>
A. create a new empty set and name it set_1<br>
B. check and print data type of set_1<br>
C. print set_1

<h3 style="color:blue">Question #2</h3>
A. create a new set and name it set_2, it should contain ARGUMENT<br>
B. check and print data type of set_2<br>

<h3 style="color:blue">Question #3</h3>
A. create a new set and name it set_3, it should contain LUSTROUS<br>
B. check and print data type of set_3<br>
** check the ouput carefully

<h3 style="color:blue">Question #4</h3>
A. Using == compare set_3 and set_4

<h3 style="color:blue">Question #5</h3>
A. create a new set and name it set_5, it should contain KLMNOPQ<br>
B. create another new set and name it set_6, it should contain PQRSTUV<br>
C. using union output a new set<br>
D. print set_5
E. print set_6
F. using == compare both these sets

<h3 style="color:blue">Question #6</h3>
A. find the common items that are present in set_5 and set_6<br>
B. Return the items of 'set_5' which are not common to the 'set_6'<br>

<h3 style="color:blue">Question #7</h3>
A. Removes all elements from set_5 that are also present in set_6.'<br>

<h3 style="color:blue">Question #8</h3>
A. Check if set_5 and set_6 have some common elements'<br>
B. Create a new set_7 which contains KITE<br>
C. Create a new set_8 which contains COLD<br>
D. Check of set_7 and set_8 have some common elements

<h3 style="color:blue">Question #9</h3>
A. print set_6<br>
B. Add SKY and update set_6<br>
C. print set_6<br>
D. Add 1 2 3 4 5 (which are 5 unique elements) and update set_6<br>
E. print set_6

<h3 style="color:blue">Question #10</h3>
A. Remove/Discard SKY from set_6<br>
B. Remove arbitary item from set_6<br>
C. Clear contents of set_6<br>
D. print set_6