# TTP Assignment 2

<h3 style="color:blue">Question #1</h3>

Create two variables `student_name = "Rahul"` and `student_age = 20`.  
Use an **f-string** to print the sentence: **My name is Rahul and I am 20 years old.**

<h3 style="color:blue">Question #2</h3>
Create variables `item = "Tablet"` and `price = 18500`.  
Use an **f-string** to print the message: **The price of Tablet is ‚Çπ18500.**  
Then, modify your code so that the price appears with a comma separator (**‚Çπ18,500**).

üí° Hint: Use `{price:,}` inside the f-string to format numbers with commas.

<h3 style="color:blue">Question #3</h3>

Create a variable `radius = 7`.  
Calculate the **area of a circle** using the formula `3.14 * radius ** 2`.  
Print the result with a clear message such as:  
**Area of Circle = ____**

üí° *Hint:* Use a single `print()` statement combining text and the computed value.

<h3 style="color:blue">Question #4</h3>

Create two variables `fruit = "Mango"` and `quantity = 6`.  
Use the **`.format()`** method to print the sentence:  
**I bought 6 Mangoes from the market.**

<h3 style="color:blue">Question #5</h3>

Create variables `ticker = "TCS"`, `market_cap = 120000` and `last_traded_price = 3825`.  
Use the **`.format()`** method to print the following message:  
**TCS has a market capitalization of ‚Çπ120000 Cr and the last traded price is ‚Çπ3825.**

<h3 style="color:blue">Question #6</h3>

Modify the previous program to display the numbers with comma separators.  
Example output:  
**TCS has a market capitalization of ‚Çπ1,20,000 Cr and the last traded price is ‚Çπ3,825.**

üí° *Hint:* Use `{:,}` inside `.format()` to format numbers with commas.

<h3 style="color:blue">Question #7</h3>

Create four variables:  
`a = 25` (integer)  
`b = 12.5` (float)  
`c = True` (boolean)  
`d = "Python"` (string)  

Print each variable‚Äôs value and check its **data type** using the `type()` function.

<h3 style="color:blue">Question #8</h3>

Create a program that demonstrates the use of the **`sep`** and **`end`** parameters in the `print()` function.  

1Ô∏è‚É£ Print three city names ‚Äî *Delhi, Mumbai, Chennai* ‚Äî separated by `" | "` using the **`sep`** parameter.  
2Ô∏è‚É£ Then, print two words ‚Äî *Python* and *Programming* ‚Äî on the **same line** using the **`end`** parameter.

<h3 style="color:blue">Question #9</h3>

Use **triple quotes (`""" """"`)** in a print statement to display multiple lines of text.  

Print the following exactly as shown:<br>
Welcome to Python<br>
This is your second assignment<br>
Keep practicing daily

<h3 style="color:blue">Question #10</h3>

Write a program that uses **escape characters** to format output.  

1Ô∏è‚É£ Use `\n` to print text on a **new line**.  
2Ô∏è‚É£ Use `\t` to create a **tab space** between words.  

Print the following output exactly as shown:  
Name Subject <br>
Riya Maths <br>
Aman Science